
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&display=swap');

/*font-family: Merriweather Sans 
font-weight: 400, 500 e 700*/



:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    

}

body{
    background-color: #22212C;
    color:  #837E9F;
    width: 100%;
    display:flex;
}

/*----------------------------------------LEFT-GENERAL---------------------------------------------------*/

.left-section{
    width: 30%;
    
    
    
    
}


.left-div-profile,.left-div-dados,.left-div-tecnologias,.left-div-experiencias,.left-div-educacao{
    background-color: #302F3D ;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 2vh;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 6px rgb(27, 27, 27);

}


/*----------------------------------------PROFILE---------------------------------------------------*/

.left-div-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
    opacity: 1;
    transition: opacity 1s ease 0s;
    
}

.left-div-profile:hover{
    opacity: 0.7;
    box-shadow: 1px 1px 2px rgb(27, 27, 27);
    cursor: pointer;
    border: 1px grey dotted;


}


.left-div-profile-img{
    width: 15vh;
    min-width: 10%;
    height: 15vh;
    min-height: 10%;
    border-radius: 100px;
    border:solid 3px #00FF00;
   
}

.left-div-profile-nome{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
    
}
.left-div-profile-profissao{
    font-size: 13px;
    font-weight: 400;
}


/*----------------------------------------LINKS---------------------------------------------------*/

.left-div-dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
    opacity: 1;
    transition: opacity 1s ease 0s;
    
}

.left-div-dados:hover{
    opacity: 0.7;
    box-shadow: 1px 1px 2px rgb(27, 27, 27);
    border: 1px grey dotted;
    cursor: pointer;
}

.left-div-dados-um{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.left-div-dados-img{
    height: 30px;
    width: 30px;
    filter: #837E9F;
}

.left-div-dados-text{
    margin-left: 2vh;
    color: #837E9F;
    text-decoration: none;
    font-size: 14px;
    margin-top: 7px;



}

/*----------------------------------------Techs---------------------------------------------------*/

.left-div-tecnologias{
    transition: 0.7s;
}

.left-div-tecnologias:hover{
    opacity: 0.7;
    box-shadow: 1px 1px 2px rgb(27, 27, 27);
    cursor: pointer;
    border: 1px grey dotted;
}



.left-div-tecnologias-title{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    

}


.left-div-tecnologias-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 35px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }
    
    .left-div-tecnologias-1 { grid-area: 1 / 1 / 2 / 2; }
    .left-div-tecnologias-2 { grid-area: 1 / 2 / 2 / 3; }
    .left-div-tecnologias-3 { grid-area: 1 / 3 / 2 / 4; }
    .left-div-tecnologias-4 { grid-area: 2 / 1 / 3 / 2; }
    .left-div-tecnologias-5 { grid-area: 2 / 2 / 3 / 3; }
    .left-div-tecnologias-6 { grid-area: 2 / 3 / 3 / 4; }
    .left-div-tecnologias-7 { grid-area: 3 / 1 / 4 / 2; }
    .left-div-tecnologias-8 { grid-area: 3 / 2 / 4 / 3; }
    .left-div-tecnologias-9 { grid-area: 3 / 3 / 4 / 4; }

    .left-div-tecnologias-1,.left-div-tecnologias-2,.left-div-tecnologias-3,.left-div-tecnologias-4,.left-div-tecnologias-5,.left-div-tecnologias-6,.left-div-tecnologias-7,.left-div-tecnologias-8,.left-div-tecnologias-9{
        color:black;
        background-color: #CB92B1;
        padding-top: 10px;
        font-size: 11px;
        font-weight: 700;
        text-align: center;
        border-radius: 30px;

    }

    /*----------------------------------------Experiencias---------------------------------------------------*/

    .left-div-experiencias{

        display:flex;
        flex-direction: column;
        gap: 1vh;
        transition: 0.7s;
        
    }

    .left-div-experiencias:hover{
        opacity: 0.7;
        box-shadow: 1px 1px 2px rgb(27, 27, 27);
        cursor: pointer;
        border: 1px grey dotted;

    }
    .left-div-experiencias-box{
        margin-left: 40px;
    }

    .left-div-experiencias-title{
        font-size: 20px;
        font-weight: 700;
    }

    .left-div-experiencias-box-list{
        font-size: 15px;
        font-weight: 700;
    }


    .left-div-experiencias-box-date{

        font-size: 12px;
        font-weight: 400;
    }

    .left-div-experiencias-box-cargo{
        font-size: 15px;
        font-weight: 500;
    }

        /*----------------------------------------Educacao---------------------------------------------------*/

        .left-div-educacao{
            transition: 0.7s;
            margin-bottom: 10px;
        }

        
        .left-div-educacao:hover{
            opacity: 0.7;
            box-shadow: 1px 1px 2px rgb(27, 27, 27);
            cursor: pointer;
            border: 1px grey dotted;
        }

       .left-div-educacao-title{
        font-size: 20px;
        font-weight: 700;


       }

       .left-div-educacao-box{
        margin-top: 10px;
        margin-left: 40px;
       }

       .left-div-educacao-box-list{
        font-size: 15px;
        font-weight: 700;
       }

       .left-div-educacao-box-date{
        font-size: 12px;
        font-weight: 400;
       }

       .left-div-educacao-box-cargo{
        font-size: 15px;
        font-weight: 500;

       }

           /*----------------------------------------RIGHT SELECTION---------------------------------------------------*/
       .right-section{
        width: 100%;
       }
           /*----------------------------------------My Projects---------------------------------------------------*/

        .right-div-myprojects{
            
            background-color: #302F3D ;
            box-shadow: 2px 2px 6px rgb(27, 27, 27);
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 95%;
            margin-top: 3vh;
            margin-left: 5vh;


       }

       .right-div-myprojects-title{
        width: 90%;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 20px;

       }

       .right-div-myprojects-button{
        border-style: none;
        background-color: transparent;
        border-radius: 40px;
        color: #837E9F;
        font-size: 15px;
        width: 100px;
        height: 100%;
        transition: 0.5s;

       }

       .right-div-myprojects-button:hover{
        background: rgba(245, 245, 245, 0.05)

       }




       /*----------------------------------------Projeto Cards---------------------------------------------------*/

       .projects{
        display: flex;
        justify-content: center;
        gap: 10%;
        margin: 3%;
        
       }


       .project-cards{
        
        padding: 40px;
        box-shadow: 2px 2px 6px rgb(27, 27, 27);
        border-radius: 20px;
        background-color: #302F3D ;
        

       }

       .card-title{
        display:flex;

       }

       .card-title-text{
        margin-left: 20px;
        font-weight: 700;

       }

       .card-description{
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 15px;
        width: 85%;

       }


       .rodape{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        
       }

       .rodape-estrela{
        display: flex;
        
        width: 30%;
       }

       .rodape-git{
        display: flex;
        
        width: 30%;
       }

       .rodape-linguagem{
        display: flex;
        width: 40%;
        
        
       }

       .rodape-linguagem-img,.rodape-git-img,.rodape-estrela-img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
       }

       .rodape-linguagem-img{
        background: #E7DE79;
        margin-top: 2px;
        width: 15px;
        height: 15px;
        border-radius: 40px;
        border: 2px solid #837E9F;

       }

             /*----------------------------------------Recents Posts---------------------------------------------------*/

             .right-div-recentposts{
            
                background-color: #302F3D ;
                box-shadow: 2px 2px 6px rgb(27, 27, 27);
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                height: 100px;
                width: 95%;
                margin-top: 3vh;
                margin-left: 5vh;
    
    
           }
    
           .right-div-recentposts-title{
            width: 90%;
            font-size: 25px;
            margin-top: 30px;
            margin-left: 20px;
    
           }
    
           .right-div-recentposts-button{
            border-style: none;
            background-color: transparent;
            border-radius: 40px;
            color: #837E9F;
            font-size: 15px;
            width: 100px;
            height: 100%;
            transition: 0.5s;
    
           }
    
           .right-div-recentposts-button:hover{
            background: rgba(245, 245, 245, 0.05);
    
           }
    
           /*----------------------------------------Recents Posts Card---------------------------------------------------*/

           .post-recent{
            background-color: #302F3D ;
                box-shadow: 2px 2px 6px rgb(27, 27, 27);
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                width: 95%;
                margin-top: 3vh;
                margin-left: 5vh;
                padding:20px;
           }

           .post-recent-imagem{

            width: 17%;
            padding:10px;
            

           }

           .post-recent-img{
            width: 150px;
            height: 150px;
            border-radius: 100px;

           }

           .post-recent-completo{

            width: 100%;
            padding: 30px;
           }

           .post-recent-completo-title{
            font-weight: 700;
            font-size: 20px;

           }

           .post-recent-completo-data{
            margin-top: 10px;
            font-size: 15px;
            
           }

           .post-recent-completo-complemento{
            margin-top: 10px;
            font-size: 17px;
           }

           .post-recent-completo-tags{
            font-size: 13px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-top: 10px;

           }




    